/* * This is the google font type which will be used in the project */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --Dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--dark-blue);
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

.divider {
  width: 80%;
  text-align: center;
  display: block;
  margin: 1rem auto;
  border: 0;
  border-top: 1px solid var(--grayish-blue);
}

.container {
  height: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--dark-blue);
  /* background-color: red; */
}

.row {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--Dark-grayish-blue);
}

.card__advice-num {
  color: var(--neon-green);
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.card__advice {
  color: var(--light-cyan);
  margin: 1.4rem 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  left: 48.1%;
  bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--neon-green);
  z-index: 999999999999;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.icon:hover {
  -webkit-box-shadow: 1px 1px 30px 6px hsl(150, 100%, 66%);
  box-shadow: 1px 1px 30px 6px hsl(150, 100%, 66%);
}
